/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c6d9e9, #c0f1d0);
}
.container {
    position: relative; /* IMPORTANTE */
}
/* Caixa principal */
.container {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Label */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Input */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #4facfe;
}
/* Botão de sair */
.btn-voltar {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 16px;
    background: #79b0f7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover */
.btn-voltar:hover {
    background: #3c73c0;
    transform: scale(1.05);
}

/* Clique */
.btn-voltar:active {
    transform: scale(0.95);
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #3a8be0;
}

/* Resultado */
p {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}